extends layout

block content
	div.container
		form.form-signin(action="login")
			h2.form-signin-heading="Please sign in"
			input.input-block-level(type="text",placeholder="Email address", name="email")
			input.input-block-level(type="password",placeholder="Password", name="pass")
			button.btn.btn-small.btn-primary(type="submit")="Sign in"