extends ../structure/layout

block vars
	- var title="Sign Up"

block content
	div.container
		form.form-signin(action="/create", method="POST")
			- if (typeof(errorMess) != 'undefined')
				em.icon-warning-sign
				strong.red= errorMess
			h2.form-signin-heading="User creation form"
			input.input-block-level(type="text",placeholder="Name", name="name")
			input.input-block-level(type="text",placeholder="Email address", name="email")
			input.input-block-level(type="password",placeholder="Password", name="pass")
			button.btn.btn-small.btn-primary(type="submit", name="user-create", value="true")="Create user"